.kaufman {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .kaufman__triangle {
    position: absolute;
    height: 636px;
    width: 660px;
    right: -124px;
  }