.techniques {
    display: flex;
    flex-direction: column;
  }

.cards {
    width: 920px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
  }
  
  .cards__item {
    width: 240px;
    margin-right: 100px;
  }
  
  .cards__item:nth-child(3) {
    margin: 0;
  }
  
  .cards__image {
    width: 160px;
    height: 160px;
    margin: 60px 40px 40px;;
    box-sizing: border-box;
    border-radius: 50%;
  
  }
  
  .cards__title {
    margin: 0 auto;
    text-align: center;
    width: 240px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }
  
  .cards__description {
    width: 240px;
    text-align: center;
    margin: 16px auto 0;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
  }